{% extends "base.html" %}
{% block title %}Update Product{% endblock %}
{% block content %}
<h2>Update Product</h2>
<form method="POST">
  <div class="mb-3"><label>Name</label><input type="text" name="name" value="{{ product.name }}" class="form-control" required></div>
  <div class="mb-3"><label>Price</label><input type="number" name="price" value="{{ product.price }}" class="form-control" required></div>
  <div class="mb-3"><label>Stock</label><input type="number" name="stock" value="{{ product.stock }}" class="form-control" required></div>
  <div class="mb-3"><label>Category</label><input type="text" name="category" value="{{ product.category }}" class="form-control"></div>
  <div class="mb-3"><label>Details</label><input type="text" name="details" value="{{ product.details }}" class="form-control"></div>
  <div class="mb-3"><label>Rating</label><input type="flote" name="rating" value="{{ product.rating }}" class="form-control"></div>
  <button type="submit" class="btn btn-warning">Update</button>
</form>
{% endblock %}
